.active{
    background-color: blue;
}
.nav a:hover {
    
    background-color:blue;
}
.dropdown{
    position: relative;
    display: inline;
}
.ddm{
    position: absolute;
    background-color: blue;
    text-decoration:none;
    display: none;
}
.ddm a{
    color: white;
    padding:8px 10px;
    display: block;
    width: 250px;
}
.dropdown:hover .ddm a{
    display: block;
}
.ddm a:hover{
    background-color:darkblue;
    color: white;
}
.dropdown:hover .ddm{
    display: block;
}

